<div class="row">

	<div class="col-md-5">
		<h1>Электорат</h1>

		<ul class="list-group">
			<% @voters.each do |voter| %>
				<% voter.can_write? ? style = 'info' : style = 'warning' %>
				<li class="list-group-item list-group-item-<%=style%>">
					<%= link_to voter.name, manager_voter_path(voter.id), remote: true %> 
					<% if voter.conversation_status > 0 %>
						<i>(агитирует <%= voter.conversation.user.name %>)</i>
					<% end %>
				</li>
			<% end %>
		</ul>
		<ul class="pagination"><%= will_paginate @voter, container: false %></ul>
	</div>

	<div class="col-md-7" id="voter-info">

	</div>

</div>