<% if @ok %>
	<div class="alert alert-success">
		Поздравляем, теперь ты &mdash; волонтер! Переходи на <%= link_to "свою страницу", volunteer_root_path %> и выполняй задания.
	</div>
<% else %>
	<div class="alert alert-danger">
		Мы не нашли такого кода у себя, попробуй обратиться в штаб.
	</div>
<% end %>