<div style="margin-top:200px;">
	<% unless current_user.present? %>
		<p class="text-center">
			<%= link_to 'Авторизация через VK', user_omniauth_authorize_path(:vkontakte), class: "btn btn-default btn-lg" %>
		</p>
	<% else %>
		<p class="text-center">
			<%= current_user.url %>
		</p>
	<% end %>
</div>


