<h1>Мои диалоги</h1>

<ul>
	<% @conversations.each do |conversation| %>
		<li>Ваш диалог с <strong><%= link_to conversation.voter.name, volunteer_show_dialog_path(conversation.id) %></strong> был начат <%= conversation.created_at %></li>
	<% end %>
</ul>
